@font-face {
  font-family: 'archivo';
  src: url(fonts/Archivo-SemiBold.ttf);
}

a {
  text-decoration: none;
  color: black;
}

img{
  color: black;
}

body {
  font-family: archivo, sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
}

main {
  width: 100%;
}

header{
  position: fixed;
  width: 100%;
  top: 0;
}

#Algoryphons_header {
  color: #0D132D;
  margin-bottom: 0px;
}
#link_logo {
  padding-left: 2px;
  padding-top: 3px;
}


#logo_img {
  margin-bottom: -3px;
}

#patrons {
  margin-top: 5px;
  max-height: 100px;
}

#patron_grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#patron_grid div {
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

#headerDiv {
  font-family: archivo;
  background-color: white;
  color: black;
  width: 100%;
  font-size: 20px;

  display: flex;
  flex-direction: row-reverse;
}

#headerDiv #logo {
  padding: 10px;
}

#headerDiv #buttons {
  margin: 0px;
  margin-left: 5px;
  height: 0px;
  margin-left: auto;
  flex-wrap: wrap;
  display: inline-flex;
}

#our_journey_title #value_header {
  margin: 5px;
  width: 100%;
  color: #0D132D;
} 

#headerDiv #insta {
  border-bottom-right-radius: 0px;
}

#headerDiv a {
  color: white;
  background-color: #0D132D;
  padding: 0px 5px 5px 5px;
  margin-left: 2px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 15px
  
}

#headerDiv a:hover {
  color: black;
  background-color: #F6D28E;
  text-decoration: underline;
}

#headerDiv #logo a {
  background-color: white;
  text-decoration: none;
}

#start_div {
  font-size: 85px;
  text-align: center;
}

#team_number {
  font-size: 50px;
  color: #F6D28E;
}

#start_div #wing_segment {
  margin-top: 30px;
  font-size: 25px;
  text-align: center;
}
#start_div #small_wings_1 {
  float: left;
}
#start_div #small_wings_2 {
  float: right;
}
#wing_segment a {
  color: #F6D28E;
}
#wing_segment a:hover {
  text-decoration: underline;
}
#text {
  color: #1E2D68;
}
#start_logo {
  margin-top: -30px;
  margin-bottom: 35px;
}

#eg_photos{
  font-size:xx-large;
  text-align: center;
}
#eg_photos img {
  width: 25%;
  height: auto;
  border: 2px solid white;
}

#eg_photos #value_header{
  margin: 5px;
}

#align_center{
  text-align: center;
  width: auto;
}

#team_section_header {
  margin-top: 5px;
  padding-top: 70px;
  background-color: white;
  width: 100%;
  color: #F6D28E;
  font-size: 100px;
}

#member_div{
  font-size: 100;
  color:white;
  width: 100%;
  background-color: #1E2D68;
  font-size: 50px;
  padding-bottom: 5px;
}

#cells {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 40px;
}

#value_header_team {
  background-color: white;
  color: #0D132D;
  border-radius: 5px;
  font-size: 35px;
}

#cells #value_box {
  width: auto;
  display: flex;
}

#cells #value_box #value_header {
  margin: 5px;
}

#cells img {
  max-width: 200px;
  margin: 5px;
  border-radius: 5px;
  border: 5px solid white;
}

#info_box #value_header {
  font-size: 40px;
}

#info_box {
  font-size: 15px;
}

#info_box #abt_us_txt_box_center {
  background-color: #1E2D68;
  margin: 5px;
  margin-top: 10px;
  max-width: 500px;
}

#about_main{
  text-align: center;
}

#about_us_header {
  margin-top: 60px;
  background-color: white;
  width: 100%;
  text-align: center;
  color: #F6D28E;
  font-size: 50px;
}


#abt_us_txt_div {
  color: #0D132D;
  padding-left: 5px;
  padding-right: 5px;
  margin: 5px;
  border-radius: 15px;
  font-size: 70px;
}

#txt_logo_about_us{
  margin-top: 10px;
  width: 100%;
  font-size: large;
}

#abt_content {
  color: white;
  background-color: #0D132D;
  padding: 5px;
}

#abt_content_block {
  background-color: #1E2D68;
  width: 100%;
  border-radius: 5px;
  margin-top: 5px;
  padding-bottom: 1px;
  padding-top: 1px;
  font-size: larger;
}

#value_boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
}

#value_box {
  width: 275px;
  background-color: #0D132D;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

#value_header {
  background-color: white;
  color: #1E2D68;
  border-radius: 5px;
}

#FIRST_div {
  margin-bottom: 15px;
}

#our_mission {
  color: #F6D28E;
}

#om_header {
  padding-top: 10px;
  margin-bottom: 10px;
  font-size: 50px;
  display: flex;
  justify-content: center;
}

#om_body {
  display: flex;
  justify-content: center;
  padding: 0px 5px 5px 5px;  
}
#our_mission #value_header{
  margin: 5px 5px 5px 5px;
  color: #F6D28E;
  background-color: #0D132D;
} 

#value_header1{
  margin: 5px 5px 5px 5px;
  padding: 5px 0px 5px 0px;
  border-radius: 5px;
  color: #F6D28E;
  background-color: #0D132D;
} 

#A_IDE {
  background-color: #1E2D68;
  color: #F6D28E;
  margin-top: 10px;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;

  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#A_IDE div {
  text-align: center;
}

#A_IDE #A_IDE_TXT {
  font-size: 25px;
  color: white;
}

#om_header #small_wings_A_IDE{
  margin-top: -5px;
  padding-top: 1px;
  padding-bottom: 11px;
}

#IDE_text #value_header {
  text-align: center;
  font-size: 25px;
}

#our_journey_title {
  display: flex;
  justify-content: center;
  font-size: 50px;
}

#our_journey_header {
  background-color: #0D132D;
  color: #F6D28E;
  text-decoration: underline;
  text-align: center;
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}

footer {
  background-color: #eee;
  color: black;
  text-align: center;
  padding: 10px;
  bottom: 0;
}

footer a {
  color: blue;
  text-decoration: underline;
}

#our_journey_txt_header {
  text-decoration: underline;
  color: #1E2D68;
  background-color: white;
  padding-left: 5px;
  border-radius: 5px;

}

#abt_us_txt_box {
  text-align: left;
  margin: 10px;
  padding: 10px;
  background-color: #0D132D;
  border-radius: 5px;
}

#abt_us_txt_box_center {
  margin: 10px;
  padding: 10px;
  background-color: #0D132D;
  border-radius: 5px;
}

#value_box_LIFE {
  background-color: #0D132D;
  width: 900px;
  border-radius: 5px;
  margin: 15px 5px 5px 5px;
  padding: 5px;
}

#vid_div {
  margin-top: 10px;
}

#IDE_text #abt_content_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#IDE_text #value_box {
  text-align: center;
  width: 600px;
  padding: 10px;
  margin: 5px 5px;
}

#election {
  width: 75%;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}
/* Track */
::-webkit-scrollbar-track {
  background-color: #0D132D;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #F6D28E;
  border-radius: 10px;
}

/* iphone 600px */
/* iPad 900px */
/* iPad Pro 1200px */
@media only screen and (max-width: 1350px) {
  #Algoryphons_header {
    font-size: 150px;
  }
}


/* TODO - IPAD */
@media only screen and (max-width: 900px) {
  #text {
    font-size: 25px;
  }
  #contact_info {
    margin-top: -10px;
    float: center;
    font-size: 12px;
  }
  #logo {
    text-align: center;
  }
  header #logo_img{
    float: center;
  }
  header #EATON_logo_img {
    float: right;
    margin-right: 5px;
    padding-top: 2px;
    width: 100px;
  }
  header #schl_logo_img {
    float: right;
  }
  #buttons {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }
  #election {
    width: 100%;
  }
  #about_us_header {
    margin-top: initial;
  }
  #headerDiv{
    font-size: 10px;   
    display: initial; 
  }
  #eg_photos_div img {
    width: 550px;
  }
  
  header {
    position: initial;
    width: 100%;
    top: 0;
  }
  #headerDiv a {
    padding: 0px;
    margin-bottom: 10px;
    padding-top: 0px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: -1px;
    border-radius: 3px;
  }
  #headerDiv a:hover {
    color: black;
    background-color: #F6D28E;
    text-decoration: none;
  }
  #headerDiv #insta{
    margin-bottom: 10px;
    padding-top: 0px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: -1px;
    border-radius: 3px;
  }
  #Algoryphons_header{
    font-size: 70px;
  }
  #team_number{
    font-size: 20px;
  }
  #small_wings_2{
    margin-top: -50px;

    width: 250px;
    height: 50px;
  }
  #small_wings_1{
    margin-top: -50px;

    width: 250px;
    height: 50px;
  }

  #team_section_header{
    margin-top: 10px;
    padding-top: 0px;
    font-size: 50px;
  }
  
  #txt_logo_about_us{
    margin-top: 10px;
    width: 100%;
    font-size: large;
  }
  #gif_logo {
    margin-top: -200px;
    margin-bottom: -20px;
  }
  #oc_a {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #1E2D68;
  }
  #team_video {
    width: 325px;
  }
}
@media only screen and (max-width: 720px) {

  header #logo_img{
    width: 30px;
  }

  #cells #value_box { 
    display: initial; 

  }
}

@media only screen and (max-width: 600px) {
  #IDE_logo_main{
    height: initial;
  }  
  #patrons {
    margin-top: 5px;
    max-height: 80px;
  }
  #value_header1 {
    font-size: 25px;
  }
  #eg_photos #value_header {
    font-size: 20px;

  }  
  #cells #value_header {
    font-size: 20px;

  }  
  #text {
    font-size: 15px;
  }
  #contact_info {
    margin-top: -15px;
    float: center;
    font-size: 10px;
  }
  #team_vid {
    width: 350px;
  }
  #logo{
    font-size: 12px;
  }
  header {
    position: initial;
    width: 100%;
    top: 0;
  }
  #headerDiv {
    width: 100%;
  
    display: initial;
  }
  #headerDiv a {
    padding: 0px;
    margin-bottom: 10px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: -1px;
    border-radius: 3px;
  }
  #headerDiv a:hover {
    color: black;
    background-color: #F6D28E;
    text-decoration: none;
  }
  #headerDiv #insta{
    padding: 0px;
    border-radius: 3px;
  }
  #small_wings_2{
    margin-top: -50px;
    width: 150px;
    height: 50px;
  }
  #small_wings_1{
    margin-top: -50px;
    width: 150px;
    height: 50px;
  }
  #start_div #Algoryphons_header{
    font-size: 40px;
  }
  #team_number{
    font-size: 25px;
  }
  #eg_photos{
    text-align: center;
  }
  #eg_photos_div img {
    width: 300px;
  }
  #team_section_header{
    margin-top: 10px;
    padding-top: 0px;
    font-size: 50px;
  }
  footer {
    font-size: 10px;
  }
  #txt_logo_about_us{
    margin-top: 10px;
    width: 100%;
    font-size: large;
  }

  #gif_logo {
    margin-top: -200px;
    margin-bottom: -20px;
  }

  #oc_a {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #1E2D68;
  }

  #value_box {
    width: 300px;
    font-size: 15px;
  }
  #IDE_logo_main {
    width: 300px;
  }
  #om_header {
    padding-top: 10px;
    font-size: 35px;
    display: flex;
    justify-content: center;
  }
  #om_header #small_wings_A_IDE{
    width: 75px;
  }
  #abt_us_txt_div {
    margin-top: 30px;
    font-size: 45px;
  }
}

@media only screen and (max-width: 400px) {
  #abt_us_txt_div {
    margin-top: 30px;
    font-size: 40px;
  }
  #headerDiv {
    font-size: 7px;
  }
}