/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'archivo';
  src: url(fonts/Archivo-SemiBold.ttf);
}


:root {

  /* Colours */

  --Primary-Blue:            #1E2D68;
  --Secondary-Blue:          #0D132D;
  --Gold-Yellow:             #F6D28E;
  --Sand-Yellow:             #F4E3C5;
  --Dark-Sand-Yellow:        #d1ac6d;

  --White:                   #FFFFFF;
  --Black:                   #000000;

}

html {
  scroll-behavior: smooth;
}




/* GENERAL */
  /* HOVER EFFECT */
  
  .hoverable {
    transition: transform .2s ease-out;
  }

  .hoverable:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
  }

  /**/

body {
  font-family: 'archivo', sans-serif;  
}

.page-width {
  width: 100%;
}

a {
  color: var(--Gold-Yellow);
}

.flex {
  display: flex;
}

.italics {
  font-style: italic;
}

.justify {
  text-align: justify;
}

/* Headers & Tittles */

h1 {
  color: var(--Secondary-Blue);
  font-size: 150px;
}

h2 {
  color: var(--Gold-Yellow);
  font-size: 50px;
}

h3 {
  color: var(--Primary-Blue);
  font-size: 30px;
}

.title1{
  margin: 5px;
  padding: 2px;

  font-size: 35px;

  background-color: var(--Secondary-Blue);
  color: var(--White);
  box-shadow: 0px 0px 5px var(--Gold-Yellow);
  
  border-radius: 5px;

}

.title2{
  margin: 5px;
  padding: 2px;

  font-size: 30px;
  font-style: italic;
  box-shadow: 0px 0px 5px var(--Gold-Yellow);

  background-color: var(--Secondary-Blue);
  color: var(--White);

  border-radius: 5px;

}

.title-seasonal {
  background-image: url(graphics/header_bgs/header_ng_season_25_26.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;

  font-size: 35px;
  font-style: italic;

  margin: 10px;
}

.title-seasonal2 {
  background-image: url(graphics/header_bgs/header_ng_season_25_26_2.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  
  padding: 20px;
  margin: 10px;

  font-style: normal;
  font-size: 100px;
}

.title-seasonal3 {
  background-image: url(graphics/header_bgs/header_ng_season_25_26_2.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  
  padding: 20px;
  margin: 10px;

  font-size: 50px;
}


.img_row{
  display: flex;
  flex-wrap: wrap;
}

.img_row a {
  margin-left: auto;
  margin-right: auto;

}

.textbox1 {
  border: var(--Gold-Yellow) solid 2px;
  border-radius: 5px;
  color: var(--Primary-Blue);
  
  font-size: 18px;

  margin: 5px;
  padding: 10px;
  
  box-shadow: 0px 0px 5px var(--Gold-Yellow);
}

.grid {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
  grid-auto-rows: min-content;
  grid-gap: 0;
}

.gridbox {
  border-radius: 5px;
  border: var(--Gold-Yellow) solid 2px;
  box-shadow: 0px 0px 5px var(--Gold-Yellow);

  color: var(--Primary-Blue);

  margin: 5px;
  
}

.gridbox-textbox {
  align-self: center;
}


.text-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* Navbar */

nav {
  display: flex;
  align-items: center;

  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.nav_spacer {
  height: 60px; /* Adjust based on your navbar height */
}

.navbar {
  background-color: var(--White);
  color: var(--Black);

  width: max-content;

  margin: 5px;
  margin-right: 5px;
  padding: 5px;
  border-radius: 10px;

  display: flex;  
  justify-self: center;

  box-shadow: 0px 0px 5px var(--Gold-Yellow);
  border: var(--Gold-Yellow) solid 2px;

}

.nav_logos {
  background-color: var(--White);
  border-radius: 10px;

  padding: 6px 5px 4px 5px;
  margin-right: 5px;

  box-shadow: 0px 0px 5px var(--Gold-Yellow);
  border: var(--Gold-Yellow) solid 2px;
}

.nav_logos img {
  width: 40px;
  height: auto;

  margin-bottom: -1px;
}

.nav_logo_yt {
  background-color: var(--White);
  border-radius: 10px;

  padding: 5px;
  padding-top: 12px;
  padding-bottom: 11.1px;
  
  margin-right: 5px;

  box-shadow: 0px 0px 5px var(--Gold-Yellow);
  border: var(--Gold-Yellow) solid 2px;
}

.nav_logo_yt img {
  width: 40px;
  height: auto;

  margin-bottom: -1px;
}

.navbar img {
  width: 40px;
  height: auto;
  margin-top: 5px;
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  
  gap: 10px;
  align-items: center;
  
  margin-left: 10px;
  margin-right: 10px;
}

.nav-links a {
  width: fit-content;

  text-decoration: none;

  padding: 4px;
  border-radius: 7px;

  background-color: var(--Secondary-Blue);
  color: var(--White);

  transition: transform 0.3s ease-out;

}

.nav-links .logo {
  width: fit-content;

  text-decoration: none;

  background-color: initial;
  color: var(--White);
}

.nav-links a:hover {
  color: var(--Gold-Yellow);

  box-shadow: 0px 0px 10px var(--Gold-Yellow);
  border: var(--Gold-Yellow) solid 2px;
  border-radius: 10px;

  transform: scale(1.2);

}

.nav-links .logo:hover {
  color: none;

  box-shadow: none;
  border: none;
  border-radius: none;

  

}

/* Hero Section */

.hero h1 {
  text-shadow: 0px 0px 5px var(--Secondary-Blue);
}

.hero-text-div {
  margin-top: 10px;
  color: var(--Primary-Blue);
}

.hero-text-div p {
  margin-top: 10px;
  font-size: 20px;
}

.hero-wing {
  width: 500px;
  margin-top: -10px;
  transition: transform .2s ease-in;
}

.hero-wing:hover {
  -ms-transform: (-10px); /* IE 9 */
  -webkit-transform: translateY(-10px); /* Safari 3-8 */
  transform: translateY(-10px);
}

.team-num {
  margin-top: 10px;
  margin-bottom: 50px;
}

.slogan {
  margin-top: -20px;
}

.hero-logo {
  width: 150px; 
  margin-top: 20px; 
  margin-bottom: 25px;
}

/* PARTNERS AND PATREONS */

.partners-patreons {
  border: var(--Gold-Yellow) solid 2px;
  box-shadow: 0px 0px 5px var(--Gold-Yellow);
  border-radius: 5px;

  margin: 5px;
}

.School {
  width: 160px;
}
.SAST {
  width: 250px;
}
.Abbey {
  width: 75px;
}
.ftc {
  width: 98px;
}
.eaton {
  width: 290px;
}
.ASAS {
  width: 65px;
}

/* HEADLINE NEWS */

.headline {
  border: var(--Gold-Yellow) solid 2px;
  box-shadow: 0px 0px 5px var(--Gold-Yellow);
  border-radius: 5px;

  margin: 5px; 
}

.newsbox {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  justify-items: center;
}

.newstext {
  max-width: 55%;
}

.newsimgs {
  border: var(--Gold-Yellow) solid 2px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px var(--Gold-Yellow);

  
  width: 100%;
  height: auto;
}

.newsbox a {
  width: 20%;
  margin: 5px;
}

.text-column {
  display: grid;
  height: 91%;
}

/* OUR MISSION */

.ourmission_banner {
  background-image: url(graphics/banners/our_mission_banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;


  padding: 100px;
   
  color: var(--Primary-Blue);
  
}

.ourmission_banner div {
  display: flex;
  border-radius: 5px;
  border: var(--Gold-Yellow) solid 3px;

  align-items: center;
  justify-content: center;

}

.ourmission_banner img {
  margin: auto;
}

.ourmission_banner t {
  font-size: 100px;

  margin: auto;

  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--Gold-Yellow);
 
}

.ourmission {
  margin: 5px;

  border-radius: 5px;
  border: var(--Gold-Yellow) solid 2px;
  box-shadow: 0px 0px 5px var(--Gold-Yellow);

  display: grid;
  padding: 5px;
}

.ourmission_banner_img {
  width: 500px;
}

.om_gifs {
  width: 50px;
}

.IDE-pillars .grid .hoverable:hover {
  -ms-transform: scale(1.03); /* IE 9 */
  -webkit-transform: scale(1.03); /* Safari 3-8 */
  transform: scale(1.03);
}

/* SEASON */

.season-box {
  background-color: var(--Sand-Yellow);
  background-image: url(graphics/text_box_bgs/season_text_box_bg_1.png);
  background-size: 100%;
  
  box-shadow: 0px 0px 10000px 400px var(--Sand-Yellow);
  margin-top: 10px;
}

.season-banner {
  box-shadow: 0px 0px 5px var(--Gold-Yellow);

}

.season-title-header {
  margin: 5px;
  margin-top: 15px;
  padding: 5px;

  border-radius: 5px;

  box-shadow: 0px 0px 10px var(--Gold-Yellow);

  color: var(--Gold-Yellow);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--Black);

}

.season_ftc {
  width: 8%;
}

.seasonal_img {
  width: 8%;
  margin: -10px;
  transition: transform .25s ease-out;
}

.seasonal_img:hover {
  
  -ms-transform: rotate(90deg) translateX(-75px); /* IE 9 */
  -webkit-transform: rotate(90deg) translateX(-75px); /* Safari 3-8 */
  transform: rotate(90deg) translateX(-75px);

}

.seasonal-gridbox {
  color: var(--Black);
  
  background-image: url(graphics/text_box_bgs/season_text_box_bg_1.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 10px;
}

.seasonal_gif {
  background: url(graphics/gifs/theme-decode.gif) no-repeat center center;
  background-size: 100%;
  width: 150px;
  margin-bottom: 5px;
}

.rotating-ammonite {
  width: 5%;
  padding: 5px;
}

.skull {
  width: 10%;
}

.padding-sides {
  padding-left: 25%;
  padding-right: 25%;
}

/* TEAM */

.team-body h3 {
  text-decoration: underline;
}

.team-gridbox {
  color: var(--White);

  max-width: 100%;

  margin: auto;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 5px;
  padding: 10px;

  background-image: url(graphics/text_box_bgs/team_img_bgs.jpg);
  background-position: center;
  background-size: 200%;
  background-repeat: no-repeat;
  
  border: var(--Primary-Blue) solid 2px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px var(--Secondary-Blue);
}

.team_member_img img {
  border: var(--White) solid 2px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px var(--White);
  width: 100px;
}

.team-content {
  margin: 5px;
  padding: 10px;
  border-radius: 5px; 

  box-shadow: 0px 0px 5px var(--Secondary-Blue);
  background-color: var(--Primary-Blue);
}

.team_member_info {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 3px;
  
  border-radius: 5px;
  border: var(--White) solid 2px;
  box-shadow: 0px 0px 5px var(--White);
}

.team_member_info .name {
  font-size: 22px;
  font-weight: bold;
  margin: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 1.5px;
  background-color: var(--Primary-Blue);
  border: var(--White) solid .5px;
}

.team_member_info .role {
  font-size: 18px;
  font-weight: bold;
  margin: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 1.5px;
  background-color: var(--Primary-Blue);
  border: var(--White) solid .5px;

}

.team_member_info .bio {
  font-size: 16px;
  font-weight: bold;
  margin: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 1.5px;
  background-color: var(--Primary-Blue);
  border: var(--White) solid .5px;

}

/* FOOTER */

footer {
  background-color: var(--Secondary-Blue);
  color: var(--White);

  padding: 10px;
  margin: 3px;

  border-radius: 5px;
  border: var(--Gold-Yellow) solid 3px;
  box-shadow: 0px 0px 5px var(--Gold-Yellow);
}

/* Scrollbar styles */

/* For Chrome, Safari and Opera */
/* width */
::-webkit-scrollbar {
  width: 3px;
}
/* Track */
::-webkit-scrollbar-track {
  background-color: #0D132D;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #F6D28E;
  border-radius: 10px;
  box-shadow: 0px 0px 5px var(--Gold-Yellow);
}

/* Rotating */
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 20s linear infinite;
  -moz-animation: rotating 20s linear infinite;
  -ms-animation: rotating 20s linear infinite;
  -o-animation: rotating 20s linear infinite;
  animation: rotating 20s linear infinite;
}

/* LOADER */

.loader-wrapper {
  width: 100%;
  height: 100%;

 position: fixed;
  top: 0;
  left: 0%;

  display: flex;
  
  justify-content: center;
  align-content: top;

  background-image: url(graphics/text_box_bgs/season_text_box_bg_1.png);
  background-size: 100%;
}

.loader {
  width: 75%;
  height: 150px;
  
  position: relative;
  top: 40%;
}

.loader-bottom {
  position: absolute;
  bottom: 5px;

  left: 50%;
  transform: translate(-50%, 0);
  
  display: flex;
}

.loader-bottom img {
  margin-right: 5px;
  margin-left: 5px;
}

/* Responsive navbar logo position */
@media (max-width: 1050px) {

  .nav-links .logo {
    order: -1; 
  }

  .navbar {
    background-color: var(--White);
    color: var(--Black);

    margin: 5px;
    margin-right: 5px;
    padding: 5px;
    border-radius: 10px;

    font-size: 12px;

    display: flex;  
    justify-self: center;

    box-shadow: 0px 0px 5px var(--Gold-Yellow);
    border: var(--Gold-Yellow) solid 2px;

  }

  .nav-links {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    
    gap: 10px;
    align-items: center;
    
    margin-left: 10px;
    margin-right: 10px;
  }

  .nav-links a {
    width: fit-content;

    text-decoration: none;

    padding: 4px;
    border-radius: 7px;

    background-color: var(--Secondary-Blue);
    color: var(--White);

    transition: transform 0.3s ease-out;

  }

  .nav-links .logo {
    align-items: center;
  }

  .nav-links .logo img{
    width: 30px;
  }

  h1 {
    color: var(--Secondary-Blue);
    font-size: 90px;
  }

  h2 {
    color: var(--Gold-Yellow);
    font-size: 50px;
  }

  h3 {
    color: var(--Primary-Blue);
    font-size: 30px;
  }

  .hero-wing {
    width: 500px;
    height: 100px;
    margin-top: -100px;
    margin-bottom: 10px;
    transition: transform .2s ease-in;
  }

  .rotating-ammonite {
    width: 10%;
    padding: 5px;
  }

  .padding-sides {
    padding-left: 10%;
    padding-right: 10%;
  }
}


@media (max-width: 768px) {

  .nav-links .logo {
    order: -1; 
  }

  .navbar {
    background-color: var(--White);
    color: var(--Black);

    margin: 5px;
    margin-right: 5px;
    padding: 5px;
    border-radius: 10px;

    font-size: 12px;

    display: flex;  
    justify-self: center;

    box-shadow: 0px 0px 5px var(--Gold-Yellow);
    border: var(--Gold-Yellow) solid 2px;

  }

  .nav-links {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    
    gap: 10px;
    align-items: center;
    
    margin-left: 10px;
    margin-right: 10px;
  }

  .nav-links a {
    width: fit-content;

    text-decoration: none;

    padding: 4px;
    border-radius: 7px;

    background-color: var(--Secondary-Blue);
    color: var(--White);

    transition: transform 0.3s ease-out;

  }

  .nav-links .logo {
    align-items: center;
  }

  .nav-links .logo img{
    width: 30px;
  }

  h1 {
    color: var(--Secondary-Blue);
    font-size: 90px;
  }

  h2 {
    color: var(--Gold-Yellow);
    font-size: 50px;
  }

  h3 {
    color: var(--Primary-Blue);
    font-size: 30px;
  }

  .hero-wing {
    width: 300px;
    height: 75px;
    margin-top: -100px;
    margin-bottom: 10px;
    transition: transform .2s ease-in;
  }

  .rotating-ammonite {
    width: 10%;
    padding: 5px;
  }

  .padding-sides {
    padding-left: 5%;
    padding-right: 5%;
  }

  .ourmission_banner {
    background-image: url(graphics/banners/our_mission_banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    width: 100%;

    padding: 100px;
    
    color: var(--Primary-Blue);
    
  }

  .ourmission_banner div {
    display: flex;
    border-radius: 5px;
    border: var(--Gold-Yellow) solid 3px;

    align-items: center;
    justify-content: center;

  }

  .ourmission_banner_img {
    margin: auto;
    width: 400px;
  }

  .ourmission_banner t {
    font-size: 75px;

    margin: auto;

    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--Gold-Yellow);
  
  }

  .skull {
    width: 20%;
  }
}

@media (max-width: 425px) {

  .nav-links .logo {
    order: -1; 
  }

  .navbar {
    background-color: var(--White);
    color: var(--Black);

    margin: 5px;
    margin-right: 3px;
    padding: 5px;
    border-radius: 10px;

    font-size: 8px;

    display: flex;  
    justify-self: center;

    box-shadow: 0px 0px 5px var(--Gold-Yellow);
    border: var(--Gold-Yellow) solid 2px;

  }

  .nav-links {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    
    gap: 3px;
    align-items: center;
    
    margin-left: 10px;
    margin-right: 10px;
  }

  .nav-links a {
    width: fit-content;

    text-decoration: none;

    padding: 4px;
    border-radius: 7px;

    background-color: var(--Secondary-Blue);
    color: var(--White);

    transition: transform 0.3s ease-out;

  }

  .nav-links .logo {
    align-items: center;
  }

  .nav-links .logo img{
    width: 25px;
  }

  h1 {
    color: var(--Secondary-Blue);
    font-size: 38px;
  }

  h2 {
    color: var(--Gold-Yellow);
    font-size: 18px;
  }

  h3 {
    color: var(--Primary-Blue);
    font-size: 15px;
    padding-top: 15px;
  }

  .hero-wing {
    width: 150px;
    height: 50px;
    margin-top: -70px;
    margin-bottom: 10px;
    transition: transform .2s ease-in;
  }

  .rotating-ammonite {
    width: 10%;
    padding: 5px;
  }

  .padding-sides {
    padding-left: 5%;
    padding-right: 5%;
  }

  .ourmission_banner {
    background-image: url(graphics/banners/our_mission_banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    width: 100%;

    padding: 10px;
    
    color: var(--Primary-Blue);
    
  }

  .ourmission_banner div {
    display: flex;
    border-radius: 5px;
    border: var(--Gold-Yellow) solid 3px;

    align-items: center;
    justify-content: center;

  }

  .ourmission_banner_img {
    margin: auto;
    width: 165px;
  }

  .ourmission_banner t {
    font-size: 35px;

    margin: auto;

    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--Gold-Yellow);
  
  }

  .skull {
    width: 20%;
  }

  .hero-text-div p {
    font-size: 15px;
  }

  .title1 {
    font-size: 25px;
  }

  .title2 {
    font-size: 20px;
  }

  .textbox1 {
    font-size: 15px;
  }

  .School {
    width: 120px;
  }
  .SAST {
    width: 200px;
  }
  .Abbey {
    width: 70px;
  }
  .ftc {
    width: 70px;
  }
  .eaton {
    width: 200px;
  }
  .ASAS {
    width: 65px;
  }

  .newsbox a {
    display: none;
  }

  .newstext {
    max-width: 100%;
  }

  .title-seasonal2 {
    font-style: normal;
    font-size: 50px;
  }

  .IDE-pillars .grid {
    grid-template-columns: auto;
  }

  .seasonal_gif {
    background: url(graphics/gifs/theme-decode.gif) no-repeat center center;
    background-size: 100%;
    width: 100px;
    margin-bottom: 5px;
  }

  .justify {
    text-align: center;
  }

  .nav_logos {
    background-color: var(--White);
    border-radius: 10px;

    padding: 9px 7px 8px 7px;
    margin-right: 3px;

    box-shadow: 0px 0px 5px var(--Gold-Yellow);
    border: var(--Gold-Yellow) solid 2px;
  }

  .nav_logos img {
    width: 25px;
    height: auto;

    margin-bottom: -1px;
  }

  .nav_logo_yt {
    background-color: var(--White);
    border-radius: 10px;

    padding: 7px;
    padding-top: 12px;
    padding-bottom: 13px;
    
    margin-right: 5px;

    box-shadow: 0px 0px 5px var(--Gold-Yellow);
    border: var(--Gold-Yellow) solid 2px;
  }

  .nav_logo_yt img {
    width: 25px;
    height: auto;

    margin-bottom: -1px;
  }

  .om_gif {
    display: none;
  }

  .hero h1 {
    text-shadow: none;
  }
}

