@font-face {
  font-family: 'archivo';
  src: url(fonts/Archivo-SemiBold.ttf);
}

a {
  text-decoration: none;
  color: black;
}

img{
  color: black
}

body {
  font-family: archivo, sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #0D132D;
}

main {
  width: 100%;
}

header{
  position: fixed;
  width: 100%;
  top: 0;
}

#Algoryphons_header {
  color: #F6D28E;

}

#theme_logo_img {
  margin-bottom: -10px;
}

#headerDiv {
  font-family: archivo;
  background-color: white;
  color: black;
  width: 100%;
  font-size: 20px;

  display: flex;
}

#headerDiv #logo {
  padding: 10px;
}

#headerDiv #buttons {
  margin-left: auto;
}


#headerDiv #insta {
  border-bottom-right-radius: 0px;
}

#headerDiv a {
  color: white;
  background-color: #0D132D;
  padding: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 15px
  
}

#headerDiv a:hover {
  color: black;
  background-color: #F6D28E;
  text-decoration: underline;
}

#headerDiv #logo a {
  background-color: white;
  text-decoration: none;
}

#start_div {
  font-size: 85px;
  text-align: center;
}

#team_number {
  font-size: 50px;
  margin-top: -125px;
  color: white;
}

#start_div #wing_segment {
  margin-top: 30px;
  font-size: 25px;
  color: white;
  text-align: center;
}
#start_div #small_wings_1 {
  float: left;
}
#start_div #small_wings_2 {
  float: right;
}
#wing_segment a {
  color: blue;
  text-decoration: underline;
}
#eg_photos{
  background-color: white;
  margin-top: 250px;
  font-size:xx-large;
  text-align: center;
}
#eg_photos img {
  width: 25%;
  height: auto;
  padding-left: 15px;
  padding-top: 10px;
}

#align_center{
  text-align: center;
  width: auto;
}

#team_section_header {
  margin-top: 110px;
  background-color: white;
  width: 100%;
  color: #F6D28E;
  font-size: 100px;
}

#member_div{
  font-size: 100;
  color:white;
  width: 100%;
  background-color: #1E2D68;
  font-size: 50px;
  padding-bottom: 5px;
}

#cells {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  font-size: 40px;
}

#member_cell {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  background-color: #0D132D;
  color: white;
  border-radius: 10px;
}

#member_header_div {
  background-color: #1E2D68;
  width: auto;
  display: flex;
  justify-content: center;
}

#member_header_div_txt {
  background-color: #0D132D;
  margin: 5px;
  padding: 10px;
  border-radius: 25px;
}

#info_box {
  font-size: 15px;
}

footer {
  background-color: #eee;
  color: black;
  text-align: center;
  padding: 10px;
  bottom: 0;
}

footer a {
  color: blue;
  text-decoration: underline;
}

/* iphone 600px */
/* iPad 834px */
/* iPad Pro 1194px */

@media only screen and (max-width: 600px) {
  header {
    position: initial;
    width: 100%;
    top: 0;
  }
  #headerDiv {
    font-family: archivo;
    background-color: white;
    color: black;
    width: 100%;
    font-size: 15px;
  
    display: flex;
  }
  #row1{
    padding-bottom: 11px;
  }
  
  #row2{
    padding-bottom: 11px;
  }
  #small_wings_2{
    margin-top: -60px;
    width: 150px;
    height: 50px;
  }
  #small_wings_1{
    margin-top: -60px;
    width: 150px;
    height: 50px;
  }
  #logo_img{
    width: 50px
  }
  #Algoryphons_header{
    font-size: 40px;
  }
  #team_number{
    margin-top: -25px;
    font-size: 25px;
  }
  #eg_photos{
    text-align: center;
  }
  #eg_photos_div img {
    width: 350px;
  }
  #team_section_header{
    margin-top: 10px;
    font-size: 75px;
  }
  #member_cell {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    background-color: #0D132D;
    color: white;
    border-radius: 10px;
    font-size: 20px;
  }
  #member_cell img {
    width: 90px;
  }
  #info_box {
    font-size: 10px;
  }
}